.card{
    width: 150px;
    text-align: center;
    padding: 20px;
    box-shadow: 2px 4px 7px gray;
    border: 1px solid #a300a3;
    border-radius: 5px;
    a{
        text-decoration: none;
        color: #1a011a;
    }
}