.logo{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    background: -webkit-linear-gradient(270deg, #a300a3, #1a011a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}